footer#footer.footer
  .container
    .row
      .four.columns
        nav#principal.menu
          a.enlace(href='#') Para tu Negocio
          a.enlace(href='#') Conviertete en Instructor
          a.enlace(href='#') Aplicaciones M&oacute;viles
          a.enlace(href='#') Soporte
          a.enlace(href='#') Temas
      .four.columns
        nav#secundaria.menu
          a.enlace(href='#') &iquest;Quienes Somos?
          a.enlace(href='#') Empleo
          a.enlace(href='#') Blog
