#header.header
  .container
    .row
      .four.columns
        a(href='/index')
            img(src='imagenes/logo.jpg' width='100' height='50' )#logo
      .two.columns.u-pull-right
        nav.navInicio
          a(href='/reservaciones') Reservaciones 
          a(href='/cotizaciones') Cotizaciones 
          a(href='/login') LogIn
        ul
    .submenu