doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Hoome page
  link(rel="stylesheet" href="css/normalize.css")
  link(rel="stylesheet" href="css/skeleton.css")
  link(rel="stylesheet" href="css/custom.css")
header
  include header 
      
#hero
.container
  .row
  .six.columns
      .contenido-hero
      h2 Los mejores vehiculos para ti
.barra
  .container
    .row
      .four.columns.icono.icono1
        p
          | Con mas de 7 sucursales 
          br
          | en todo el país
      .four.columns.icono.icono2
        p
          | Contamos con servicio de
          br
          | Grua en todo Guatemala
      .four.columns.icono.icono3
        p
          | Vanguardia y tecnología
          br
          | definen nuestros vehículos

include footer