doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Login
  link(rel="stylesheet" href="css/normalize.css")
  link(rel="stylesheet" href="css/skeleton.css")
  link(rel="stylesheet" href="css/custom.css")
header 
include header
  br
  br
  br
body.bodylog
  .login-container
    // Icono en el centro
    .icon
      img(src='imagenes/login.png' alt='Login')
    // Formulario de login
    form.login-form
    h2 Iniciar Sesión
    .input-group
      label(for='username') Usuario
      input#username(type='text' name='username' placeholder='Ingresa tu usuario')
    .input-group
      label(for='password') Contraseña
      input#password(type='password' name='password' placeholder='Ingresa tu contraseña')
      button(type='submit').buttonLog  Entrar
    .input-group
      a(href='/registro') haz click aqui para registrarte. 
include footer 
