<%- include("partials/_header") %>
<img class="card-img-top" src="https://www.enterprise.com/en/inspiration/drives/arizona-saguaro-national-park/_jcr_content/root/container/container_257038987_/container_736230910/container_copy_copy_1744162700/image.coreimg.82.1920.jpeg/1696426573945/national-park-arizona-saguaro-26.jpeg" alt="Card image cap" width="50">
<h1 class="display-4">Bienvanidos a Nice Trip!</h1>
<div class="container">
    <div class="jumbotron">
        
        <p class="lead">
            Nice Trip Renta Autos una empresa guatemalteca con más de diez años de experiencia en la renta de vehículos, dedicada y comprometida a satisfacer las necesidades en transporte de nuestros clientes brindándoles mejores autos a los mejores pecios del mercado. Comprometidos para ofrecer los más altos estándares de calidad y con los precios más económicos contando con una de las más grandes flotillas a nivel nacional.
        </p>
        <hr class="my-4">
        <p>Trabajamos distintos modelos y tarifas para ciudad y resguardar la economía de todos nuestros clientes.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/cotizar" role="button">Cotizar</a>
        </p>
    </div>
</div>

<%- include("partials/_footer") %>