<%- include("partials/_header") %>


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvanidos a Nice Trip!</h1>
        <p class="lead">
            Nice Trip Renta Autos una empresa guatemalteca con más de diez años de experiencia en la renta de vehículos, dedicada y comprometida a satisfacer las necesidades en transporte de nuestros clientes brindándoles mejores autos a los mejores pecios del mercado. Comprometidos para ofrecer los más altos estándares de calidad y con los precios más económicos contando con una de las más grandes flotillas a nivel nacional.
        </p>
        <hr class="my-4">
        <p>Trabajamos distintos modelos y tarifas para ciudad y resguardar la economía de todos nuestros clientes.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Cotizar</a>
        </p>
    </div>
</div>
<%- include("partials/_footer") %>