<%- include("partials/_header") %>
<div class="d-flex justify-content-center">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000" data-bs-touch="false" data-bs-interval="false" style="width: 80rem; overflow: hidden; height: 15rem; text-align: center">
      <div class="carousel-inner">
          <div class="carousel-item active rectangulo">
              <img src="https://www.tecnogus.com.co/wp-content/uploads/2022/12/Seguros-de-auto-1.jpg" class="d-block w-100 img-fluid" alt="Viajes">
              <div class="texto-imagen">
                  Trabajamos para ti.
              </div>  
          </div>
          <div class="carousel-item">
            <img src="https://cdn.buttercms.com/OLrRISFLQjSn3sf4s1ig" class="d-block w-100 img-fluid" alt="...">
            <div class="texto-imagen">
              Tu beneficio es nuestra prioridad.
            </div>  
          </div>
          <div class="carousel-item">
            <img src="https://cdn.republica.gt/082023/1691189904016.webp?cw=1500&ch=843&extw=jpg" class="d-block w-100" class="d-block w-100 img-fluid" alt="calles">
            <div class="texto-imagen">
              Toma tu tiempo antes de reservar.
            </div>  
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<div class="container">
    <h1>Términos y condiciones:</h1>
    <div class="justify-content-center text-justificado">
        <p>
            Después de los últimos sucesos que se dieron en cuanto a reservas que no se llegaron a completar y a la vez no podíamos 
            disponer de los vehículos que estaban siendo reservados, hemos tenido que hacer unos cambios en nuestra política de 
            reservaciones.
            Al reservar un vehículo usted deberá ingresar un método de pago, del cual se hará una retención (no cobro) del monto
            total de la reserva.
        </p>
    </div>
    
    <h3>
        Cancelación:
    </h3>
    <div class="justify-content-center text-justificado">
        <p>
            Si por alguna eventualidad usted ya no necesitará la reservación y desea cancelarla es importante que tome en
            cuenta los siguientes lineamientos.
        </p>
        <p>
            En caso de cancelar el mismo día en que usted había reservado <b>usted será penalizado con un cobro de 50% del
            precio total de la renta,</b> esto es porque nuestra empresa deberá intentar poner en renta el vehículo que usted 
            reservó, y con tan poca anticipación es muy poco probable que el vehículo pueda ser rentado, en caso de no ser 
            rentado nosotros tendremos que absorber los gastos que esto conlleva. 
        </p>
        <p>
            En caso de cancelar dentro de las 24 horas previas al día de la renta <b>usted será penalizado con un cobro de 
            30% del precio total de la renta,</b> esto es porque a pesar de tener un rango más amplio de tiempo para rentar 
            el vehículo, existe la posibilidad de que no se pueda rentar con tan corto tiempo, en caso de no ser rentado 
            nosotros tendremos que absorber los gastos que esto conlleva.
        </p>
        <p>
            En caso de cancela <b>24 horas previas al día de la renta usted no tendrá ningún cargo o penalización,</b>
            ya que se tendremos tiempo suficiente para poder rentar el vehículo.
        </p>
        <p>
            Por supuesto siempre cuenta con la posibilidad de no hacer una reserva y llegar a nuestras tiendas y rentar 
            de los vehículos que tenemos disponibles, esto siempre con el riesgo que no tengamos vehículos disponibles. 
        </p>
    </div>
    
</div>
<%- include("partials/_footer") %>