<%- include("partials/_header") %>


<div class="container">
    Reservaciones
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.enterprise.com/content/dam/global-vehicle-images/cars/FORD_FUSION_2020.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<%- include("partials/_footer") %>